@using Microsoft.AspNetCore.Mvc.Localization
@using Yun.MultiCompany.Localization
@inject IHtmlLocalizer<MultiCompanyResource> L
<a class="nav-link" role="button" href="~/Account/Login">@L["Login"]</a>
